body{
   background-color: rgb(207, 237, 209);    
}
form{
    width: 90%;    
    margin-left: 50px;
}
#camposTexto{
    width: 100%;
    color: blue;
}

.dataCadastro{    
    border: 1px solid rgb(3, 24, 63);
}

h1{
    font-size: 24px;
    color: blue;
    text-align: center;
    font-weight: 600;
}

.botoes{
    align-items: flex-start;
    text-align: right;
    padding-right: 0.5rem;
}

button{
    margin-left: 10px;
}
